@tailwind base;
@tailwind components;
@tailwind utilities;

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #fdfdfd;
  --color-secondary: #111111;
  --color-transparency: #11111110;
  --color-transparency20: #11111120;
  --color-transparency60: #11111160;
  --color-transparency90: #11111190;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #111111;
    --color-secondary: #fdfdfd;
    --color-transparency: #dddddd10;
    --color-transparency20: #dddddd20;
    --color-transparency60: #dddddd60;
    --color-transparency90: #dddddd90;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.transparent {
  background-color: var(--color-transparency);
  color: var(--color-secondary);
}

.transparent20 {
  background-color: var(--color-transparency20);
  color: var(--color-secondary);
}

.text-transparent {
  color: var(--color-transparency60);
}

.text-transparent90 {
  color: var(--color-transparency90);
}

.bgSecondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.bgHover:hover {
  background-color: var(--color-transparency20);
}

.border-custom-color {
  border-color: var(--color-transparency60);
}
